.results-wrapper {
  background-color: beige;
  height: 100%;
}

.result-wrapper {
  display: flex;
  flex-direction: column;
  margin: 2px;
}

.box-1 {
  display: flex;
  flex-direction: row;
  font-size: 1em;
  margin-left: 2px;
  margin-right: 2px;
}
.box-1 > div {
  margin-right: 5px;
}
.box-2 {
  display: flex;
  flex-direction: row;
  font-size: 0.7em;
  margin-left: 20px;
}
.box-2 > div {
  margin-right: 5px;
}
a {
  color: inherit;
  text-decoration: none;
}
